.card-body{
    padding: 24px 14px;
}
.card-title{
    font-size: 18px;
    
}
.card-actions button{
    display: inline-block;
    width: fit-content;
    border: 1px solid var(--darkBlue);
    background-color: var(--darkBlue);
    border-radius: 8px;
    color: white;
    font-size: 14px;
}
.price{
    margin-top: 10px;
    font-weight: 500;
}
