@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
    max-width: 1980px;
    width: 90%;
    padding: 0 25px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.button{
    display: block;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 16px;
    margin: 10px auto;
    width: 100%;
}

img{
    max-width: 100%;
}

.navbar-center a:focus{
    color: white;
}

/* ---------------------components tab ----------------------------------- */
.react-tabs__tab-list{
    margin: 0 0 30px !important;

}
.react-tabs__tab-list .react-tabs__tab{
    padding: 6px 16px;
}

.react-tabs__tab--selected{
    font-weight: bold;
}

.react-tabs__tab-panel{
    margin: 40px 0;
}